/* app css stylesheet */
.bracket-icon {
    background: url('../images/bracket.png');
    background-size: 50px;
    background-color: transparent;
    height: 50px;
    width: 50px;
    display: block;
    filter: invert(100%);
}

.march-madness-logo {
    background: url('../images/march_madness.png');
    background-size: 125px;
    background-color: transparent;
    height: 125px;
    width: 125px;
    display: block;
}

.tj-stats-logo {
    background: url('../images/tj_stats.png');
    background-size: 75px;
    background-color: transparent;
    height: 70px;
    width: 75px;
    display: block;
}

.centered {
   margin:0px auto;
   width: 700px;
}

.centered-bracket {
   margin:0px auto;
   width: 950px;
}

.centered-player-search {
   margin: auto;
   width: 150px;
}

.flip-it {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}​