<div class="page-content">
	      	<div id="content-wrapper">
	      	  <br/>
	          <div class="centered-player-search"><input type="text" placeholder="Player Name..."></input></div>
			  <div id="bracket" class="centered-bracket">
			    <div id="round1" class="round">
			      <div class="region region1">
			        <div class="match m1">
			          <p class="slot slot1 tooltip">
			          	<span class="seed">1</span>
			          	<span> Kansas</span>
						<span class="tooltiptext">98%</span>
			          </p>
			          <p class="slot slot2 tooltip">
			          	<span class="seed">16</span><span> </span>Austin Peay
			          	<span class="tooltiptext">2%</span>
			          </p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><strong><span class="seed">8</span> Cincinnati <em class="score"></em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">9</span> Purdue <em class="score">65</em></strike></p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strong><span class="seed">5</span> W. Virginia <em class="score">68</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">12</span> Buffalo <em class="score">62</em></strike></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strong><span class="seed">4</span> Maryland <em class="score">65</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">13</span> Valparaiso <em class="score">62</em></strike></p>
			        </div>
					<div class="match m5">
			          <p class="slot slot1"><strong><span class="seed">6</span> Butler <em class="score">56</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">11</span> Texas <em class="score">48</em></strike></p>
			        </div>
					<div class="match m6">
			          <p class="slot slot1"><strong><span class="seed">3</span> Notre Dame <em class="score">69</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">14</span> Northeastern <em class="score">65</em></strike></p>
			        </div>
					<div class="match m7">
			          <p class="slot slot1"><strong><span class="seed">7</span> Wichita St. <em class="score">81</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">10</span> Indiana <em class="score">76</em></strike></p>
			        </div>
					<div class="match m8">
			          <p class="slot slot1"><strong><span class="seed">2</span> Kansas <em class="score">75</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">15</span> N. Mexico St. <em class="score">56</em></strike></p>
			        </div>
			      </div>
			      <div class="region region2">
			         <div class="match m1">
			          <p class="slot slot1"><strong><span class="seed">1</span> Wisconsin <em class="score">86</em></strong></p> <!-- strike and strong inside p-->
			          <p class="slot slot2"><strike><span class="seed">16</span> C. Carolina <em class="score">72</em></strike></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><strong><span class="seed">8</span> Oregon <em class="score">79</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">9</span> Oklahoma St. <em class="score">73</em></strike></p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strong><span class="seed">5</span> Arkansas <em class="score">56</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">12</span> Wofford <em class="score">53</em></strike></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strong><span class="seed">4</span> N. Carolina <em class="score">67</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">13</span> Harvard <em class="score">65</em></strike></p>
			        </div>
					<div class="match m5">
			          <p class="slot slot1"><strong><span class="seed">6</span> Xavier <em class="score">76</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">11</span> Ole Miss <em class="score">57</em></strike></p>
			        </div>
					<div class="match m6">
			          <p class="slot slot1"><strike><span class="seed">3</span> Baylor <em class="score">56</em></strike></p> 
			          <p class="slot slot2"><strong><span class="seed">14</span> Georgia St. <em class="score">57</em></strong></p>
			        </div>
					<div class="match m7">
			          <p class="slot slot1"><strike><span class="seed">7</span> VCU <em class="score">72</em></strike></p> 
			          <p class="slot slot2"><strong><span class="seed">10</span> Ohio St. <em class="score">75</em></strong></p>
			        </div>
					<div class="match m8">
			          <p class="slot slot1"><strong><span class="seed">2</span> Arizona <em class="score">93</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">15</span> Texas So. <em class="score">72</em></strike></p>
			        </div>
			      </div>
			      <div class="region region3">
			       <div class="match m1">
			          <p class="slot slot1"><strong><span class="seed">1</span> Villanova <em class="score">93</em></strong></p> <!-- strike and strong inside p-->
			          <p class="slot slot2"><strike><span class="seed">16</span> Lafayette <em class="score">52</em></strike></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><strong><span class="seed">8</span> NC State <em class="score">66</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">9</span> LSU <em class="score">65</em></strike></p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strong><span class="seed">5</span> N. Iowa <em class="score">71</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">12</span> Wyoming <em class="score">54</em></strike></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strong><span class="seed">4</span> Louisville <em class="score">57</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">13</span> UC Irvine <em class="score">55</em></strike></p>
			        </div>
					<div class="match m5">
			          <p class="slot slot1"><strike><span class="seed">6</span> Providence <em class="score">53</em></strike></p> 
			          <p class="slot slot2"><strong><span class="seed">11</span> Dayton <em class="score">66</em></strong></p>
			        </div>
					<div class="match m6">
			          <p class="slot slot1"><strong><span class="seed">3</span> Oklahoma <em class="score">69</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">14</span> Albany <em class="score">60</em></strike></p>
			        </div>
					<div class="match m7">
			          <p class="slot slot1"><strong><span class="seed">7</span> Michigan St. <em class="score">70</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">10</span> Georgia <em class="score">63</em></strike></p>
			        </div>
					<div class="match m8">
			          <p class="slot slot1"><strong><span class="seed">2</span> Virginia <em class="score">79</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">15</span> Belmont <em class="score">67</em></strike></p>
			        </div>
			      </div>
			      <div class="region region4">
			       <div class="match m1">
			          <p class="slot slot1"><strong><span class="seed">1</span> Duke <em class="score">85</em></strong></p> <!-- strike and strong inside p-->
			          <p class="slot slot2"><strike><span class="seed">16</span> Robert Morris <em class="score">56</em></strike></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><strong><span class="seed">8</span> San Diego St. <em class="score">76</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">9</span> St. John's <em class="score">64</em></strike></p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strong><span class="seed">5</span> Utah <em class="score">57</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">12</span> SF Austin <em class="score">50</em></strike></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strong><span class="seed">4</span> Georgetown <em class="score">84</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">13</span> E. Washington <em class="score">74</em></strike></p>
			        </div>
					<div class="match m5">
			          <p class="slot slot1"><strike><span class="seed">6</span> SMU <em class="score">59</em></strike></p> 
			          <p class="slot slot2"><strong><span class="seed">11</span> UCLA <em class="score">60</em></strong></p>
			        </div>
					<div class="match m6">
			          <p class="slot slot1"><strike><span class="seed">3</span> Iowa St. <em class="score">59</em></strike></p> 
			          <p class="slot slot2"><strong><span class="seed">14</span> UAB <em class="score">60</em></strong></p>
			        </div>
					<div class="match m7">
			          <p class="slot slot1"><strong><span class="seed">7</span> Iowa <em class="score">83</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">10</span> Davidson <em class="score">52</em></strike></p>
			        </div>
					<div class="match m8">
			          <p class="slot slot1"><strong><span class="seed">2</span> Gonzaga <em class="score">86</em></strong></p> 
			          <p class="slot slot2"><strike><span class="seed">15</span> N. Dakota St. <em class="score">76</em></strike></p>
			        </div>
			      </div>
			    </div>
			
			    <div id="round2" class="round">
			      <div class="region region1">
			        <div class="match m1">
			          <p class="slot slot1 tooltip">
			          	<span class="seed">1</span>
			          	<span> Kansas</span>
						<span class="tooltiptext">Kansas 98% Austin Peay 2%</span>
						<span class="tooltiptext"></span>
			          </p>
			          <p class="slot slot2"><strike><span class="seed">8</span> Cincinnati <em class="score">51</em></strike></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><span class="seed">5</span> W. Virginia <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">4</span> Maryland <em class="score"></em> </p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strike><span class="seed">6</span> Butler <em class="score">64</em></strike></p>
			          <p class="slot slot2"><strong><span class="seed">3</span> Notre Dame <em class="score">67</em></strong></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strong><span class="seed">7</span> Wichita St. <em class="score">78</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">2</span> Kansas <em class="score">65</em></strike></p>
			        </div>
			      </div>
			      <div class="region region2">
			         <div class="match m1">
			          <p class="slot slot1"><strong><span class="seed">1</span> Wisconsin <em class="score">72</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">8</span> Oregon <em class="score">65</em></strike></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><strike><span class="seed">5</span> Arkansas <em class="score">78</em></strike></p>
			          <p class="slot slot2"><strong><span class="seed">4</span> N. Carolina <em class="score">87</em></strong></p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strong><span class="seed">6</span> Xavier <em class="score">75</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">14</span> Georgia St. <em class="score">67</em></strike></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strike><span class="seed">10</span> Ohio St. <em class="score">58</em></strike></p>
			          <p class="slot slot2"><strong><span class="seed">2</span> Arizona <em class="score">73</em></strong></p>
			        </div>
			      </div>
			      <div class="region region3">
			       <div class="match m1">
			          <p class="slot slot1"><strike><span class="seed">1</span> Villanova <em class="score">68</em></strike></p>
			          <p class="slot slot2"><strong><span class="seed">8</span> NC State <em class="score">71</em></strong></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><span class="seed">5</span> N. Iowa <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">4</span> Louisville <em class="score"></em> </p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strike><span class="seed">11</span> Dayton <em class="score">66</em></strike></p>
			          <p class="slot slot2"><strong><span class="seed">3</span> Oklahoma <em class="score">72</em></strong></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strong><span class="seed">7</span> Michigan St. <em class="score">60</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">2</span> Virginia <em class="score">54</em></strike></p>
			        </div>
			      </div>
			      <div class="region region4">
			       <div class="match m1">
			          <p class="slot slot1"><strong><span class="seed">1</span> Duke <em class="score">68</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">8</span> San Diego St. <em class="score">49</em></strike></p>
			        </div>
					<div class="match m2">
			          <p class="slot slot1"><strong><span class="seed">5</span> Utah <em class="score">75</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">4</span> Georgetown <em class="score">64</em></strike></p>
			        </div>
					<div class="match m3">
			          <p class="slot slot1"><strong><span class="seed">11</span> UCLA <em class="score">92</em></strong></p>
			          <p class="slot slot2"><strike><span class="seed">14</span> UAB <em class="score">75</em></strike></p>
			        </div>
					<div class="match m4">
			          <p class="slot slot1"><strike><span class="seed">7</span> Iowa <em class="score">68</em></strike></p>
			          <p class="slot slot2"><strong><span class="seed">2</span> Gonzaga <em class="score">87</em></strong></p>
			        </div>
			      </div>
			    </div>
				
			    <div id="round3" class="round">
			      <div class="region region1">
			        <div class="match m1">
			          <p class="slot slot1 tooltip">
			          	<span class="seed">1</span>
			          	<span> Kansas</span>
						<span class="tooltiptext">Kansas 93% Cincinatti 5%  Purdue 2%</span>
			          </p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			        <div class="match m2">
			          <p class="slot slot1"><span class="seed">3</span> Notre Dame <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">7</span> Wichita St. <em class="score"></em></p>
			        </div>
			      </div>
			      <div class="region region2">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed">1</span> Wisconsin <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">4</span> N. Carolina <em class="score"></em></p>
			        </div>
			        <div class="match m2">
			          <p class="slot slot1"><span class="seed">6</span> Xavier <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">2</span> Arizona <em class="score"></em></p>
			        </div>
			      </div>
			      <div class="region region3">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed">8</span> NC State <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			        <div class="match m2">
			          <p class="slot slot1"><span class="seed">3</span> Oklahoma <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">7</span> Michigan St.<em class="score"></em></p>
			        </div>
			      </div>
			      <div class="region region4">
			       <div class="match m1">
			          <p class="slot slot1"><span class="seed">1</span> Duke <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">5</span> Utah <em class="score"></em></p>
			        </div>
			        <div class="match m2">
			          <p class="slot slot1"><span class="seed">11</span> UCLA <em class="score"></em></p>
			          <p class="slot slot2"><span class="seed">2</span> Gonzaga <em class="score"></em></p>
			        </div>
			      </div>
			    </div>
				
			    <div id="round4" class="round">
			      <div class="region region1">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			      </div>
			      <div class="region region2">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			      </div>
			      <div class="region region3">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			      </div>
			      <div class="region region4">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			      </div>
			    </div>
				
			    <div id="round5" class="round">
			      <div class="region">
			        <div class="match m1">
			          <p class="slot slot1"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			        <div class="match m2">
			          <p class="slot slot1"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2"><span class="seed"></span><em class="score"></em></p>
			        </div>
			      </div>
			    </div>
				
			    <div id="round6" class="round">
			      <div class="region">
			        <div class="match m1">
			          <p class="slot slot1" id="slot127"><span class="seed"></span><em class="score"></em></p>
			          <p class="slot slot2" id="slot128"><span class="seed"></span><em class="score"></em></p>
			        </div>
			      </div>
			    </div>	
			  </div>
	      </div>
	      </div>