<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bracket Madness</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
	<link rel="stylesheet" href="css/app.css" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
	<div class="mdl-grid center-items">
		<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr class="mdl-color--indigo">
		    	<th class="mdl-color-text--white">NAME</th>
				<th class="mdl-color-text--white">WIN</th>
				<th class="mdl-color-text--white">TOP3</th>
				<th class="mdl-color-text--white">LAST</th>
				<th class="mdl-color-text--white">POSITION</th>
				<th class="mdl-color-text--white">POINTS</th>
				<th class="mdl-color-text--white">MONEY LINE</th>
				<th class="mdl-color-text--white">ODDS</th>
		    </tr>
		  </thead>
		  <tbody>
	     	<th:block th:each="player : ${players}">
			    <tr class="mdl-data-table__row center-items">
			        <td class="mdl-data-table__cell--non-numeric"><span th:text="${player.playerName}"></span></td>
			        <td class="mdl-data-table__cell--non-numeric"><span th:text="${player.winPercentage}"></span></td>
			      	<td class="mdl-data-table__cell--non-numeric"><span th:text="${player.top3Percentage}"></span></td>
			      	<td class="mdl-data-table__cell--non-numeric"><span th:text="${player.lastPercentage}"></span></td>
			      	<td class="mdl-data-table__cell--non-numeric"><span th:text="${player.avgFinish}"></span></td>
			      	<td class="mdl-data-table__cell--non-numeric"><span th:text="${player.avgPoints}"></span></td>
			      	<td class="mdl-data-table__cell--non-numeric"><span th:text="${player.moneyLine}"></span></td>
			      	<td class="mdl-data-table__cell--non-numeric"><span th:text="${player.odds}"></span></td>
			    </tr>
			</th:block>   
		  </tbody>
		</table>
	</div>
</body>
</html>